:root {
  --indigo: #002853;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --purple: #702963;
  --green: #28a745;
  --cyan: #17a2b8;
  --white: #fff;
  --tan: #e0e0e0;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --warning: #ffc107;
  --warning-high: #c24450;
  --danger: #dc3545;
  --light: #f8f9fa;
  --font-family-sans-serif: 'Roborto', sans-serif;
}


html, body {
  font-family: var(--font-family-sans-serif);
  height: 100%;
}

/* Header Section */

.head {
  text-align: center;
  padding: 10px;
}
.head h1 {
  padding-bottom: 5px;
  font-weight: bold;
}

hr {
  margin: 20px auto;
  border-top: 2px solid var(--gray);
  width: 90%;
}

a:link, a:visited {
  text-decoration: none;
  color: var(--dark);
  font-weight: bold;
}

label {
  padding-left: 15px;
  font-weight: bold;
}

.bi-search {
  padding-right: 20px;
}

input {
  padding: 5px;
  border-radius: 8px;
  width: 40%;
}

.btn {
  border-radius: 15px;
}

.card-header {
  background-color: var(--white);
  border: none;
}

.list-group {
  margin: 5px;
}

.list-group, .list-group-item {
  border: none;
  border-radius: 10px;
}

.list-group-item:hover {
  border: 1px solid black;
}

/* Main */

main {
  background-color: var(--tan);
}

/* Today Section */

.today {
  width: 98%;
  height: 30%;
  background-color: var(--white);
  border-radius: 10px;
  margin: 10px 30px 10px 10px;
}

.today h4 {
  padding: 2px;
}
.section1, .section2 {
  padding: 20px;
}

#current-location {font-size: 30px;font-weight: bold;margin: 15px 0 0 15px;}
#current-time {font-size: 18px;margin-left: 15px;color: var(--gray-dark);}
#current-temp {margin-left: 15px;font-size: 100px;}
#current-status {margin-left: 15px;font-size: 25px;}
#current-picture {margin-top: 20px;font-size: 125px;}

/* Cards Section */

.row {
  margin: 10px;
}

.col-3 {
  padding: 0px;
}

.card {
  background-color: var(--white);
  border-radius: 15px;
  border: none;
}

.weatherData {
  height: 30%;
  margin-top: 20px;
}

.weatherData .card {
  height: 70%;
  padding: 15px;
  width: 90%;
}

.weatherData h4 {
  padding: 5px;
}

.weatherInfo {font-size: 20px;}
.weatherInfo .row {margin: 0px 10px 40px 10px;}
.weatherInfo .bi {font-size: 60px;}
.weatherInfo .bi-compass {font-size: 25px;}
.weatherInfo div {text-align: center; padding: 0px;}

/* Temperature Section */
.text-feels, .text-hilo {font-weight: bold; font-size: 18px;}
.bi-thermometer-high {color: var(--yellow);}
#tempMax {color: red;}
#tempMin {color: blue;}

/* Wind Section */
.wind-text {margin-bottom: 40px; text-align: center;}
#wind-speed {font-size: 45px; font-weight: lighter;}
.bi-compass {text-align: center; margin-top: 20px; color: var(--indigo); text-align: right;}
#wind-direction {margin-top: 25px; text-align: left;}

/* Humidity Section */
#humidity {text-align: right; font-size: 50px;}
.bi-droplet {text-align: left; color: var(--cyan);}

/* UV Section */
#ultraviolet {font-size: 50px; font-weight: bold;}
/* margin-bottom: 60px; */
.uv-danger {color: var(--purple)}
.uv-veryhigh {color: var(--danger)}
.uv-high {color: var(--orange)}
.uv-moderate {color: var(--warning)}
.uv-low {color: var(--green)}

/* 5-Day Forecast */

#forecast {
  margin: 0;
}
.dailyForecast .card-body img {
  font-size: 130px;
  text-align: center;
}

