:root {
  --indigo: #002853;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --purple: #702963;
  --green: #28a745;
  --cyan: #17a2b8;
  --white: #fff;
  --tan: #e0e0e0;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --warning: #ffc107;
  --warning-high: #c24450;
  --danger: #dc3545;
  --light: #f8f9fa;
  --font-family-sans-serif: 'Roborto', sans-serif;
}


html, body {
  font-family: var(--font-family-sans-serif);
  height: 100%;
  background-size: 100% 100%;
}

/* Header Section */

.head {
  text-align: center;
  padding: 10px;
}
.head h1 {
  padding-bottom: 5px;
  font-weight: bold;
}

hr {
  margin: 20px auto;
  border-top: 2px solid var(--gray);
  width: 90%;
}

a:link, a:visited {
  text-decoration: none;
  color: var(--dark);
  font-weight: bold;
}

label {
  padding-left: 15px;
  font-weight: bold;
}

.bi-search {
  padding-right: 20px;
}

input {
  padding: 5px;
  border-radius: 8px;
  width: 40%;
}

.btn {
  border-radius: 15px;
}

.card-header {
  background-color: var(--white);
  background-size: 100%;
  border: none;
}

.list-group {
  margin: 5px;
}

.list-group, .list-group-item {
  border: none;
  border-radius: 10px;
}

.list-group-item:hover {
  border: 1px solid black;
}

/* Main */

main {
  background-color: var(--tan);
  background-size: 100%;
  background-size: contain;
  background-size: 100vw 100vh;
  padding: 20px;
}

/* Today Section */

.today {
  width: 98%;
  height: 30%;
  background-color: var(--white);
  border-radius: 10px;
  margin: 10px 30px 10px 10px;
}

.today h4 {
  padding: 2px;
}
.section1, .section2 {
  padding: 5px;
}

#current-location {font-size: 30px;font-weight: bold;margin: 15px 0 0 15px;}
#current-time {font-size: 18px;margin-left: 15px;color: var(--gray-dark);}
#current-temp {margin-left: 15px;font-size: 100px;}
#current-status {margin-left: 15px;font-size: 25px;}
#current-picture {margin: 0 auto;font-size: 125px;}

/* Cards Section */

.col-3 {
  padding: 0px;
}

.card {
  background-color: var(--white);
  border-radius: 15px;
  border: none;
}

.weatherData {
  height: 100%;
  margin-top: 20px;
}

.weatherData .card {
  height: 90%;
  padding: 5px;
  width: 100%;
}

.weatherData .card-body {
  padding: 5px;
  display: inline-block;
}

.weatherInfo {font-size: 20px;}
.weatherInfo .card .row {margin: 0px 10px 10px 10px;}
.weatherInfo .bi {font-size: 40px;}
.weatherInfo .bi-compass {font-size: 25px;}
.weatherInfo div {text-align: center; padding: 0px;}

/* Temperature Section */
.text-feels, .text-hilo {font-weight: bold; font-size: 18px;}
.bi-thermometer-high {color: var(--yellow);}
#tempMax {color: red;}
#tempMin {color: blue;}

/* Wind Section */
.wind-text {text-align: center;}
#wind-speed {font-size: 35px; font-weight: lighter;}
.bi-compass {text-align: center; color: var(--indigo); text-align: right; padding-top: 5px;}
#wind-direction {text-align: left; padding-top: 8px;}

/* Humidity Section */
#humidity {text-align: center; font-size: 35px;}
.bi-droplet {text-align: center; color: var(--cyan);}

/* UV Section */
#ultraviolet {font-size: 35px; font-weight: bold;}
.uv-danger {color: var(--purple)}
.uv-veryhigh {color: var(--danger)}
.uv-high {color: var(--orange)}
.uv-moderate {color: var(--warning)}
.uv-low {color: var(--green)}

/* 5-Day Forecast */

#forecast {
  margin: 0;
}
.dailyForecast .card-body img {
  font-size: 130px;
  text-align: center;
}

/* Media Query Section */

@media screen and (max-width: 1200px) {
  .today {
    height: 21%;
  }
  .section1, .section2 {
    padding: 10px;
  }
  #current-location {
    font-size: 20px;
    margin: 10px 0 0 10px;}
  #current-time {
    font-size: 15px;
    margin-left: 10px;
  }
  #current-temp {
    margin-left: 10px;
    font-size: 90px;}
  #current-status {
    margin-left: 10px;
    font-size: 20px;}
  #current-picture {
    margin-top: 10px;
    font-size: 100px;
  }
  .bi-compass {
    margin-top: 0px;
  }
  #wind-direction {
    margin-top: 0px;
  }
}

@media screen and (max-width: 1024px) {
  header {
    position: relative;
  }
  .today {
    margin: 5px;
    justify-content: center;
    padding-left: 10px;
  }
  .weatherData {
    padding-left: 10px;
  }
  .section2 {
    justify-content: center;
  }
  header ul {
    display: flex;
    flex-wrap: wrap;
  }
  header li {
    display: flex;
    flex-wrap: wrap;
  }
  header .card, #cities-container {
    text-align: center;;
  }
}
@media screen and (max-width: 768px) {
  .today {
    height: 15%;
  }
}
@media screen and (max-width: 480px) {
  #forecast div {
    margin: 0 auto;
  }
}

